body{
    margin: 0;
}



#intro-heading{
    /* text-align: center; */
    /* margin-left: 40%; */
    color: #067106;
}
#myphoto{
    border-radius: 100%;
}
#intro{
    text-align: center;
}


#heading_message{
    font-size: 25px;
    /* text-align: center; */
    color: #65775c;
    /* margin-bottom: 0; */
}
#about{
    text-align: center;
}
